jupyterlab
easydict
dateutils
python-dotenv
tqdm
numpy
pandas
matplotlib
opencv-python
torch
torchvision
pytorch-lightning
scipy
networkx
scikit-learn
mlflow
psycopg2-binary
google-cloud-storage
# Install manually
# torch-scatter -f https://data.pyg.org/whl/torch-1.10.1+cu102.html
# torch-sparse -f https://data.pyg.org/whl/torch-1.10.1+cu102.html
# torch-geometric